.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--color-accent-100);
}
.info {
  display: flex;
  align-items: center;
  gap: 20px;
}
